*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #7461a9;;
}

.ptFooter{
    padding-top: 6rem;
}

@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){

    #conocer{
        padding-top: 0rem !important;
    }

    #footer{
        display: none;
    }
}

@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
    
    #conocer{
        padding-top: 1rem !important;
    }

    .ptFooter{
        padding-top: 3rem;
    }
}